@import "config";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

/*** Nav ***/ 

section {
    color: $my-yellow;
    background: $my-blue; 
    z-index: -1
}

section:nth-child(even) {
    color: $my-blue;
    background: $my-yellow;
}

.front-page {
    padding: 1rem 1.5rem 5% 1.5rem;
    min-height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;

    .logo {
        margin-left: 0.5rem;
        font-size: 1.5rem;
    }

    .links {
        position: absolute;
        background: $my-yellow;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
        z-index: 5;

        a {
            color: $my-blue;
            font-size: 2rem;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 700;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                border-radius: 4px;
                background-color: $my-blue;
                bottom: 0;
                left: 0;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform .3s ease-in-out;
            }

            &:hover::before {
                transform-origin: left;
                transform: scaleX(1);
            }
        }
    }
}

/*** Burger ***/

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    z-index: 10;

    &_burger {
        width: 2rem;
        height: 0.2rem;
        background: $my-yellow;
        border-radius: 0.2rem;
        transition: all 0.5s ease-in-out;
    }
    &_burger::before, &_burger::after {
        content: "";
        position: absolute;
        width: 2rem;
        height: 0.2rem;
        background: $my-red;
        border-radius: 0.2rem;
        transition: all 0.5s ease-in-out;
    }
    &_burger::before {
        transform: translateY(-16px);
    }
    &_burger::after {
        transform: translateY(16px);
    }
      
    &.open .menu-btn_burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;

        &::before {
            transform: rotate(45deg) translate(35px, -35px);
        }
        &::after {
            transform: rotate(-45deg) translate(35px, 35px);
        }
    }
}


/***Front Page ***/ 


.intro {
    margin: 25vh 20vh 0vh 20vh;
    padding-right: 40px;
    text-align: left;
    z-index: 5;

    h1, h2, h3, p {
        line-height: 125%;
    }

    h1, h2 {
        text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.49);
    }

    h1 {
        font-size: 6rem;
        padding: .1rem 0 .1rem 0;
    }

    h2 {
        font-size: 2rem;
        color: $my-light-blue;
        margin-bottom: 1rem;
    }

    p {
        color: $my-light-blue;
        font-size: 0.9rem;
    }
}

// Moving waves

.wave-line {
    width: 100%;
    position: absolute;
    top: 35vh;
    left: 0;
    transform: translateY(-50%);
    opacity: .3;

    .line {
        position: absolute;
        width: 100%;
        height: 130px;
        z-index: 0;
    }

    .line1 {
        background: url(/assets/line1.svg) repeat-x;
        background-size: contain;
        animation: lineOne 60s linear infinite;
    }
    .line2 {
        background: url(/assets/line2.svg) repeat-x;
        background-size: contain;
        animation: lineTwo 60s linear infinite;
    }
    .line3 {
        background: url(/assets/line3.svg) repeat-x;
        background-size: contain;
        animation: lineThree 60s linear infinite;
    }
}

@keyframes lineOne {
    50% {
        background-position: -150% 0;
    }
}
@keyframes lineTwo {
    50% {
        background-position: -100% 0;
    }
}
@keyframes lineThree {
    50% {
        background-position: 150% 0;
    }
}

// Scroll animation

.scroll-down-symbole {
     width: 100%;
     display: flex;
     justify-content: center;

    .scrolldown {
        --sizeX: 30px;
        --sizeY: 50px;
        position: relative;
        width: var(--sizeX);
        height: var(--sizeY);
        border: calc(var(--sizeX) / 10) solid $my-yellow;
        border-radius: 50px;
        margin-top: 10%;
    
    
        &::before {
            content: "";
            position: absolute;
            bottom: 30px;
            left: 50%;
            width: 6px;
            height: 6px;
            margin-left: -3px;
            background-color: $my-yellow;
            border-radius: 100%;
            animation: scrolldown-anim 2s infinite;
            box-shadow: 0px -5px 3px 1px #ffffff66;
        }
    }
}
  
@keyframes scrolldown-anim {
    0% {
      opacity: 0;
      height: 6px;
    }
    40% {
      opacity: 1;
      height: 10px;
    }
    80% {
      transform: translate(0, 20px);
      height: 10px;
      opacity: 0;
    }
    100% {
      height: 3px;
      opacity: 0;
    }
}

.chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid $my-yellow;
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);

    &:nth-child(odd) {
        animation: pulse 500ms ease infinite alternate;
    }

    &:nth-child(even) {
        animation: pulse 500ms ease infinite alternate 250ms;
    }
}

@keyframes pulse {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
    }
}


// Left and Right fixed Line

.vert-line-left, .vert-line-right {
    display: flex;
    background-color: transparent;
    position: fixed;
    flex-direction: column;
    bottom: 0px;
    font-size: 40px;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    mix-blend-mode: difference;
    z-index: 10;
}


.vert-line-left {
    left: 40px;

    a {
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 1rem;
        gap: 1rem;
        margin-bottom: 5px;
        text-decoration: none;
        text-align: center;

        &:last-of-type {
            margin-bottom: 15px;
        }
    }

    
}

.vert-line-right {
    right: 40px;

    .text-vertical {
        writing-mode: vertical-rl;
        margin-bottom: 15px;
        font-size: 1rem;
        line-height: 125%;
    }

    a {
        color: white;
        text-decoration: none;
    }
}

.line {
    height: 100px;
    width: 2px;
    background-color: $my-yellow;
    margin-bottom: 15px;
    margin-top: 5px;
}


@import "skills";
@import "projects";
@import "contact";


/*** Footer & scroll button ***/

footer {
    padding: 0 1.5rem 0 1.5rem;
    min-height: 10vh;
    color: $my-yellow;
    background: $my-blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollTop {
    position: fixed;
    bottom: 15px;
    right: 8px;
    padding: 20px 5px;
    background-color: $my-yellow;
    color: $my-blue;
    border-radius: 2px;
    // border-radius: 1px solid $my-yellow;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    mix-blend-mode: difference;
    z-index: 10;

    &:hover {
        background-color: $my-blue;
        color: $my-yellow;
    }
}


/*** Media ***/

@media only screen and (max-width: 768px) {

    .intro {
        margin: 25vh 3rem 0vh 3rem;

        h1 {
            font-size: 2.5rem;
        }
    
        h2 {
            font-size: 1.25rem;
        }
    
        h3 {
            font-size: .9rem;
        }
    }

    .scroll-down-symbole {
        display: none;
    }

    .vert-line-left, .vert-line-right {
        display: none;
    }

    .wave-line {
        .line1 {
            animation: lineOne 10s linear infinite;
        }
        .line2 {
            animation: lineTwo 10s linear infinite;
        }
        .line3 {
            animation: lineThree 10s linear infinite;
        }
    }
    
    .skills-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 20%;
    }

    .skills {
        h1, h2{
            padding: 0px;
            margin: 0 auto;
            text-align: center;
        }

        .loader {
            display:none;
        }
    }

    .contact, .projects {
        h1 {
            padding: 0px;
            margin: 0 auto;
            text-align: center;
        }
    }

    .used-tech {
        justify-content: center;
        flex-direction: column;
    }

    .card-text {
        text-align: center;
    }
}
